<div class="container-fluid mb-5">
  <h1 align="center">Registeration Form</h1>
  <!--imports the ngForm and assign it to the reference variable-->
  <form #userForm="ngForm">
    <!-- {{userForm.value | json}} -->
    <hr>
    <!--User Model-->
    <!-- {{userModel | json }} -->
    <div class="form-group">
      <label>Name<br></label>    
        <!--template reference variable #name point to input element ,after asssigning now point to ngModel of form control-->                           <!--Property Binidng 6->4:47[ngModel] one way   [(ngModel)] two way binding model and view is in sync(-->
      <input type="text" required #name="ngModel" pattern="[A-Za-z]{10}" [class.is-invalid]="name.invalid && name.touched" class="form-control" autofocus  required name="name" [(ngModel)]="userModel.name">
                                <!-- if name is cleared out red frame indicated-->       
      <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small> -->
      <div *ngIf="name.errors && (name.invalid||name.touched)">
          <small  class="text-danger" *ngIf="name.errors.required">Name is Required</small>
          <small  class="text-danger" *ngIf="name.errors.pattern">Name Must Be AtLeast 10 Characters</small>
        </div>
    </div>
    <div class="form-group">
      <label>Email<br></label>
      <input type="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is Required</small>

    </div>
    <div class="form-group">
      <label>Mobile<br></label>
      <input type="tel" #mobile="ngModel" pattern="^\d{10}$" required [class.is-invalid]="mobile.invalid && mobile.touched" class="form-control" name="mobile" [(ngModel)]="userModel.mobile">
      <!-- <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Mobile Number is Required and Must Contain 10 digits</small> -->
                            <!--bootstrap class have d.none class applyed-->
      <div *ngIf="mobile.errors && (mobile.invalid||mobile.touched)">
        <small  class="text-danger" *ngIf="mobile.errors.required">Mobile Number is Required</small>
        <small  class="text-danger" *ngIf="mobile.errors.pattern">Mobile Number Must Be 10 Digit</small>
      </div>
    </div>
    <div class="form-group">
      <label>Password<br></label>                               
      <input type="password" required #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" class="form-control" name="passwd" [(ngModel)]="userModel.password">
      <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Password is Required</small>

    </div>
    <button class="btn btn-primary" type="submit">Register</button> 
  </form>
</div>